<div class="container" id="i18_link">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
          <!-- <div class="navy-line"></div> -->
          <h1>
            <script type="text/javascript">
               var message = "Actividades";
              //  var colors = new Array("#bf18bd","#00ff00","#0000ff"); // red, green, blue
               var colors = new Array("#ff0000","#f9ff00","#33bd2b"); // red, green, blue
               for (var i = 0; i < message.length; i++)
                  document.write("<span class=\"nosotros_title\" style=\"color:" + colors[(i % colors.length)] + ";\">" + message[i] + "</span>");
            </script>
          </h1>
        </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">

        <div class="col-lg-8 text-center">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg wow zoomIn">
                    <p><span class="career_text">
                        El juego es importante para el aprendizaje y el desarrollo integral de los niños, A través del buscan, exploran, prueban y descubren el mundo por sí mismos. Los niños se desarrollan, educan y aprenden a conocer la vida jugando.
                    </span></p>
                </div>
            </div>

          <div style="">
              <img src="{{ "/static/assets/img/landing/corro_test.jpg"| prepend: site.baseurl }}"  id=""
               class="img-responsive" alt=""/>
          </div>
        </div>

      <div class="col-lg-8 text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg wow zoomIn">
                <p><span class="nosotros_text">
                    Con el pinta caritas ayudamos a estimular la imaginación de los niños que  son capaces de "meterse en la piel" de aquellos a quienes imitan, El juego de roles les ayuda a entender los sentimientos de los demás. Cuando interpretan a un animal, a la mamá, o a un personaje de ficción actúan y reaccionan como lo haría el personaje elegido.
                </span></p>
            </div>
        </div>
        <div style="">
            <img src="{{ "/static/assets/img/landing/pinta.png"| prepend: site.baseurl }}"  id=""
             class="img-responsive" alt=""/>
        </div>
      </div>

      <div class="col-lg-8 text-center">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg wow zoomIn">
                  <p><span class="skills_text">
                      El Cuentacuentos ayuda a los niños a imaginarse la historia que escuchan por lo que potencia su curiosidad y creatividad, además favorece la concentración, estimula el desarrollo del lenguaje y permite interpretar haciendo hipótesis de los lugares y sucesos, favoreciendo el conocimiento espacio-temporal e identificándose con las experiencias de los personajes, siendo una excelente forma de inculcar valores y que conozcan situaciones que sirvan de ejemplo para saber desenvolverse en determinadas situaciones, además de sentir el gusto por el mundo de la literatura.
                  </span></p>
              </div>
          </div>
        <div style="">
            <img src="{{ "/static/assets/img/landing/cuentacuentos.png"| prepend: site.baseurl }}"  id=""
             class="img-responsive" alt=""/>
        </div>
      </div>
      <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg wow zoomIn">
              <p><span class="career_text">
                Una ramita de árbol puede transformarse en varita mágica,   una fila de sillas puede convertirse  en un tren, los niños  son especiales, diferentes y únicos…. Sonrisa de colores
              </span></p>
          </div>
      </div>
    </div>
    </div>
</div>
