<div class="container" id="i18_career">
    <div class="row">
        <div class="col-lg-12 text-center">
            <!-- <div class="navy-line"></div><h1> -->
              <script type="text/javascript">
                 var message = "Visión";
                //  var colors = new Array("#bf18bd","#00ff00","#0000ff"); // red, green, blue
                 var colors = new Array("#ff0000","#f9ff00","#33bd2b"); // red, green, blue
                 for (var i = 0; i < message.length; i++)
                    document.write("<span class=\"career_title\" style=\"color:" + colors[(i % colors.length)] + ";\">" + message[i] + "</span>");
              </script>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg wow zoomIn">
            <p><span class="career_text" data-i18n="about_me.des">{{ site.author.career }}</span></p>
        </div>
    </div>
</div>
