@charset "UTF-8";

.nosotros_text {
  font-size: 18px;
  color: #bf18bd
}

.nosotros_title {
  font-size: 55px;
  color: #bf18bd
}

.skills_text {
  font-size: 18px;
  color: #24b495
}

.skills_title {
  font-size: 55px;
  color: #25dbb4
}
.career_text {
  font-size: 18px;
  color: #64c81e
}

.career_title {
  font-size: 55px;
  color: #33bd2b
}

.gray-section-2 {
  background: #f1f1f1;
  margin-top: 60px
}

.gray-section-1 {
  background: #f4f4f4;
  margin-top: 60px
}
